/* 
    Created on : 06.05.2017, 11:57:02
    Author     : ERROR
*/


time
{
    display: block;
}

.navbar
{
    border:none;
}

div.jumbotron
{
    height: 195px !important;
}

textarea#styles
{
    color: #000;
    width: 70%;
}