/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06.05.2017, 11:57:02
    Author     : ERROR
*/


time
{
    display: block;
}

.navbar
{
    border:none;
}

div.jumbotron
{
    height: 195px !important;
}